ul[class*="deals_"] li.description, ul[class*="takes_"] li.description {
  border: none;
  background: white;
  color: black;
  width: 80px;
}

ul.deals_zero_to li, ul.takes_double_from li{
  border: 1px solid darkgreen;
  background: lightgreen;
}

ul.takes_half_from li{
  border: 1px solid darkred;
  background: lightcoral;
}

ul.deals_double_to li, ul.takes_zero_from li{
  border: 1px solid darkslategray;
  background: black;
  color: white;
}

li {
  display: inline-block;
  margin: auto .25em;
  padding: .25em;
}

